// 1. Import the initial variables
@import "node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
$dark-blue: #0F0787;
$light-blue: #E0E4FF;
$my-yellow: #FFD919;
$my-green: #19DE96;
$dark-blue: #0F0787;
$footer-background-color: white;
$navbar-height: 4.5rem;

// Update the sans-serif font family
$defaultFont: "acumin-pro-wide";
@import "./fonts";
$family-sans-serif: "acumin-pro-wide", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $dark-blue;
$primary-invert: $pink-invert;

// // 4. Import the rest of Bulma
@import "node_modules/bulma/sass/utilities/_all";
@import "node_modules/bulma/sass/base/_all";
@import "node_modules/bulma/sass/elements/_all";
@import "node_modules/bulma/sass/form/_all";
@import "node_modules/bulma/sass/components/_all";
@import "node_modules/bulma/sass/grid/_all";
@import "node_modules/bulma/sass/helpers/_all";
@import "node_modules/bulma/sass/layout/_all";

.myhero {
  position: relative;
  background-image: url('http://data.vxk.cz/webom/hero-bg.png');
  background-repeat: no-repeat;
  background-position: right 20% top;
  background-size: 70%;
  background-clip: content-box;
  min-height: 70vh;
  margin-bottom: 3em;
}
.myhero .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 16%;
}
.myhero .socials {
  position: absolute;
  right: 0;
  bottom: 0;
}
.myhero-content {
  background: transparent url('http://data.vxk.cz/webom/hero-blue-bg.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-clip: padding-box;
  position: absolute;
  padding: 4em;
  width: 60%;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
.myhero-content h1 {
  font: normal normal bold 60px/67px $defaultFont;
  margin: .5em 0;
  letter-spacing: -1.2px;
  width: 70%;
  color: #FFFFFF;
}

.myhero-content p {
  font: normal normal normal 18px/24px $defaultFont;
  letter-spacing: 0px;
  width: 60%;
  color: #FFFFFF;
}

.hodnoty span.idx {
  color: #166045;
}
.hodnoty a {
  color: white;
}
.basicinfo h2 {
  margin: 2em 0;
}
.basicinfo p {
  font: normal normal 600 28px/36px $defaultFont;
  letter-spacing: 0px;
  color: #0F0787;
}
.basicinfo {
  padding-right: 4em;
}
.partneri h2 {
  margin-bottom: 1em;
}
.partneri img {
  margin: 1em 0;
}

.iconedList h3 {
  font: normal normal bold 14px/20px $defaultFont;
  letter-spacing: 0.28px;
  color: #19DE96;
  margin-bottom: 0.5em;
}

.navbar-menu a {
  font: normal normal 600 18px/36px $defaultFont;
  letter-spacing: 0px;
  color: #0F0787;
}

.mycontact h2 {
  font: normal normal bold 50px/53px $defaultFont;
  letter-spacing: -1px;
  color: #FFFFFF;
  margin: 1em 0;
}

.mycontact ul {
  background: transparent url('http://data.vxk.cz/webom/icon-pixel-arrow-green.svg') 0% no-repeat padding-box;
  padding: 0.5em 0 0.5em 2em;
  margin: 1em 0;
}

h2 {
  color: #19DE96;
  text-transform: uppercase;
  font-size: larger;
}

.mylightblue {
  background: $light-blue;
}
.myyellow {
  background: $my-yellow;
}
.mydarkblue {
  background: $dark-blue;
  color: white;
}
.mydarkblue a {
  color: $my-green;
}
.mygreen {
  background: $my-green;
}
.mygreen h2, h3 {
  color: white;
}
.circle {
  border-radius: 50%;
}
.basicinfo2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.basicinfo2 .MDText {
  width: 75%;
}
.basicinfo2 p {
  font: normal normal bold 16px/20px $defaultFont;
  letter-spacing: 0px;
  color: #5A5122;
  margin-bottom: 1em;
}

.project h1 {
  font: normal normal bold 58px/50px $defaultFont;
  letter-spacing: -1.16px;
  color: #0F0787;
  margin: 1em 0;
}
.project h2 {
  font: normal normal bold 25px/26px $defaultFont;
  letter-spacing: -0.5px;
  color: #19DE96;
  width: 70%;
  margin: 1em 0;
}
.project p {
  font: normal normal medium 16px/21px $defaultFont;
  letter-spacing: 0px;
  color: #0F0787;
  margin: 1em 0;
}