<div>

  <pageHeader />

  <div class="container">

    <i v-if="loading" class="fas fa-spinner fa-spin"></i>
    <section v-else class="section">
    
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><router-link to="/"><i class="fas fa-home"></i></router-link></li>
          <li><router-link to="/projekty">Projekty</router-link></li>
        </ul>
      </nav>

      <div class="projektdetail">
        <img v-if="item.obrazek" :src="item.obrazek" />
        
        <div class="notification is-success is-light">{{item.state}}</div>

        <h1 class="title is-1">{{item.title}}</h1>

        <h4 class="subtitle is-3">{{item.subtitle }}</h4>

        <b>{{item.perex}}</b>
      </div>



      <div class="content">
        <h2 class="title is-3">O projektu</h2>
        <markdown :text="item.content" />
      </div>

    </section>

    <section v-for="(i, idx) in config.children" :key="idx" class="section">

      <component :is="i.component" :data="i" />

    </section>

  </div>

  <pageFooter />

</div>
