.project h1 {
  font: normal normal bold 58px/50px $defaultFont;
  letter-spacing: -1.16px;
  color: #0F0787;
  margin: 1em 0;
}
.project h2 {
  font: normal normal bold 25px/26px $defaultFont;
  letter-spacing: -0.5px;
  color: #19DE96;
  width: 70%;
  margin: 1em 0;
}
.project p {
  font: normal normal medium 16px/21px $defaultFont;
  letter-spacing: 0px;
  color: #0F0787;
  margin: 1em 0;
}